<div class="container">
  <div class="col-md-3">
<%= render 'buyers/navbar' %>
  </div>
  <div class="col-md-9">
    <h1>Property Uses</h1>

    <div class="jumbotron">
      <h4>Property Use: <%= @property.property_use_type %></h4><br />
    </div>

    <%= link_to "Next", new_buyer_mortgage_path(@buyer, @mortgage), class: "btn btn-primary" %> 
    <%= link_to "Edit", edit_buyer_property_use_path(@buyer, @property), class: "btn btn-primary" %>
</div>
