<h1>Open Liens</h1>

<div class="jumbotron">
  <h4>Lien Numbers: <%= @lien.lien_number %></h4><br />
  <h4>Lien Amount: <%= @lien.lien_amount %></h4><br />
  <h4>Attached Liens: <%= @lien.recorded_lien %></h4><br />
</div>

<%= link_to "Edit", edit_lien_path, class: "btn btn-primary" %>
