<h1>Easement and Right of Way Information</h1>
<div class="jumbotron">
  <h4>Any Easements or Right of Ways: <%= @easement.exists %></h4><br />
  <h4>Effects on Property: <%= @easement.effects %></h4><br />
  <h4>Attached Easements/Right of Ways: <%= @easement.recorded_easement %></h4><br />
</div>
<%= link_to "Edit", edit_buyer_easement_path(@buyer, @easement), class: "btn btn-primary" %>