<h1>Current Occupants</h1>

<%= render 'form' %><br />

<%= link_to "Back", buyer_occupancy_path(@buyer, @occupancy), class: "btn btn-primary" %> |
<%= link_to "Next", new_buyer_construction_path(@buyer, @construction), class: "btn btn-primary" %>
