<div class="container">
  <div class="col-md-3">
<%= render 'navbar' %>
  </div>
  <div class="col-md-9">
    <h1>Prior Title Policies</h1>

    <%= render 'form' %><br />

    <%= link_to "Back", buyer_prior_policy_path(@buyer, @prior), class: "btn btn-primary" %> |
    <%= link_to "Next", new_buyer_manufactured_home_path(@buyer, @manufactured), class: "btn btn-primary" %>
</div>
