<h1>Prior Title Policies</h1>

<%= render 'form' %><br />

<%= link_to "Back", prior_policy_path, class: "btn btn-primary" %> |
<%= link_to "Next", new_manufactured_home_path, class: "btn btn-primary" %>
