<h1>Construction Information</h1>

<%= render 'form' %><br />

<%= link_to "Back", construction_path, class: "btn btn-primary" %> |
<%= link_to "Next", new_property_use_path, class: "btn btn-primary" %>
