<div class="form-group">
  <%= f.label :paid_through %>
  <%= f.number_field :paid_through %>
</div><br />
<div class="form-group">
  <%= f.label :amount %>
  <%= f.number_field :amount %>
</div><br />
