<h1>Taxes</h1>

<div class="jumbotron">
  <h4>Paid Through: <%= @tax.paid_through %></h4><br />
  <h4>Amount: $<%= @tax.amount %></h4><br />
</div>

<%= link_to "Next", new_buyer_lien_path(@buyer, @lien), class: "btn btn-primary" %> |
<%= link_to "Edit", edit_buyer_tax_path(@buyer, @tax), class: "btn btn-primary" %>
