<div class="container">
  <div class="col-md-3">
<%= render 'navbar' %>
  </div>
  <div class="col-md-9">
<h1>Client Information</h1>

<%= render 'form' %>

<%= link_to "Back", buyer_path, class: "btn btn-primary" %> |
<%= link_to "Next", new_buyer_tax_path(@buyer), class: "btn btn-primary" %>
  </div>
