/*
 *= require_tree .
 *= require_self
 */

.cant-be-seen {
  display: none;
}

body {
  background-image: url("paralegalapp-logo");
  background-size: cover;
  margin: 17px;
}

.jumbotron {
  opacity: 0.75;
}
