<!DOCTYPE html>
<html>
<head>
  <title>Paralegal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Borrower</a></li>
  <li class="active"><a href="#">Taxes</a></li>
  <li class="active"><a href="#">Mortgages</a></li>
  <li class="active"><a href="#">Liens</a></li>
  <li class="active"><a href="#">Right Of Way/Easements</a></li>
  <li class="active"><a href="#">Prior Policy</a></li>
  <li class="active"><a href="#">Manufactured Home</a></li>
  <li class="active"><a href="#">Occupancy Status</a></li>
  <li class="active"><a href="#">Construction</a></li>
  <li class="active"><a href="#">Property Use</a></li>
</ul>
</div>

<%= yield %>

</body>
</html>
